* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:rgb(255, 255, 255) ;
  color: rgb(0, 0, 0); 
  background-image:url(../image/fondo2.jpg) ;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-attachment: fixed;
}

.head1 {
  display: grid;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  text-align: center;
  font-size: 100px;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 400px;
  
  

}
select {
   color: rgb(0, 0, 0);
   font-family: Helvetica;
}
nav {
  float: left;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  padding: 0px;
  height: 100%;
  
  
}
#indiceprincipal {
  display: flex;
  justify-content: space-around;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(10, 69, 124);
  

 
  
}


li {
  float: left;
  

}
li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  text-decoration: none;
  
}
nav li ul {
  display: none;
  width: 20%
  
  

}
nav li:hover > ul {
  display: block;
  width: 100%;
}


li a:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  
}

.contenedor {
  grid-template-columns: 37% 37% 37%;
  display: grid;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding: 1px;
}
.box-grid {
  display: grid;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.541);
  height: 170px; 
  color: rgb(255, 255, 255);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  padding: 1%;
  width: 70%;
  text-align: center;
  font-size: 50px;
  border-radius: 5px;


}


article {
  float: left;
  padding: 20px;
  width: 100%;
  background-color: #f1f1f100;
  height: 2100px;
}
#antivirus {
  height: 2500px;
}
#hirens{
  height: 1400px;
}
#clone{
  height: 13700px;
}


section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: rgba(0, 0, 0, 0.459);
  padding: 10px;
  color: white;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  height: 80px;
  
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

